body
  padding: ($base-line-height * 3) $col-edge-padding
  text-align: center
  font-family: $sans-font-family

h1
  font-size: $base-font-size * 4
  margin-bottom: $base-line-height

pre
  text-align: left
  margin: $base-line-height 0
  background: $gray-lighter
  padding: $base-line-height $col-edge-padding

.container
  max-width: 800px
  margin: 0 auto